:root{
    --base: #ffc600;
    --spacing: 10px;
    --blur: 0px;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}
.h1{
    color: var(--base);
}

body{
    text-align: center;
}

body{
    background: #193549;
    color: #fff;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.controls{
    margin-bottom: 50px;
}

a{

}